<p>hi welcome to Timetrain. you have successfully registered your account.</p>
<%= link_to "Sign out", destroy_member_session_path, :method => :delete %>

<%= link_to "Social Signup", members_social_sign_up_path  %>
