<div class="page-container">
        <h1><%= image_tag("logo_white.png", class: "logo") %></h1>
            <div class="notice">Hello You may connect your accounts now</div>
            <div id="container">
                <a href="/auth/twitter" class="tt twitter">
                    Connect Twitter
                    <span class="icons twitter"></span>
                </a>
                
                <a href="#" class="tt facebook">
                    Connect Facebook
                    <span class="icons facebook"></span>
                </a>
                
                <a href="/auth/google_oauth2" class="tt gplus">
                    Connect Google+
                    <span class="icons gplus"></span>
                </a>
                <a href="/members/timeline">
                <button>Sign me up</button>
                <a>
</div>