<h1>View Tweets</h1>

<p>
  <strong>Name :</strong>
  <%= @user.name %>
</p>

  <strong>tweets</strong>
 <%	@user.arr.each do |tweet_url|	%>
 <div>
 <blockquote class="twitter-tweet" lang="en">
 	<a href="<%=tweet_url%>">
 </blockquote>
</div>
 <% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
